    #msg {
        font-family: monospace;
    }
    
    body {
        color: #000000;
        background: #551154;
        font-family: helvetica;
    }
    
    .btn {
        position: absolute;
        top: 100px;
        left: 100px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: 1pt, 1pt solid, 1pt rgba(0, 0, 0);
    }
    
    h1 {
        color: #fff;
        text-align: center;
    }
    
    .box {
        width: 40%;
        margin: 0 auto;
        background: rgba(255, 255, 255, 0.2);
        padding: 35px;
        border: 2px solid #fff;
        border-radius: 20px/50px;
        background-clip: padding-box;
        text-align: center;
    }
    
    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 500ms;
        visibility: hidden;
        opacity: 0;
    }
    
    .overlay:target {
        visibility: visible;
        opacity: 1;
    }
    
    .popup {
        margin: 70px auto;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        width: 30%;
        height: 280px;
        position: relative;
        transition: all 5s ease-in-out;
    }
    
    .popup h2 {
        margin-top: 0;
        color: #333;
        font-family: monospace, serif;
        font-size: 20px;
    }
    
    @media screen and (max-width: 700px) {
        .box {
            width: 70%;
        }
        .popup {
            width: 70%;
        }
    }
    
    .get {
        width: 100%;
        height: 40px;
        margin-left: 1px;
        margin-top: 50px;
        padding: center;
        border: 2px solid #fff;
        border-radius: 20px/50px;
        text-align: center;
        background-color: rgb(188, 45, 45);
        color: #fff;
        transition: all 200ms;
        font-size: 10px;
    }
    
    .get:hover {
        color: #000000;
        background-color: #fff;
        border: 2px solid #000000;
        border-radius: 20px/50px;
    }
    
    .rate {
        width: 70px;
        height: 70px;
        border-radius: 100px;
        border-color: #000000;
        border-style: solid;
        background-color: #fff;
        font-size: 20px;
        margin-left: 10px;
        margin-top: 20px;
    }
    
    .rate:hover {
        background: #eb2f06;
    }
    
    .text {
        color: #00000074;
        font-size: 10px;
        margin-left: 20px;
        margin-top: 10px;
        position: absolute;
    }
    
    .text2 {
        color: #00000074;
        font-size: 10px;
        margin-left: 370px;
        position: absolute;
    }